.head{
    margin-top: 10px;
    background-color: #D8D6D5;
}

.head h2{
    color: #0c225e;
    font-size: 35px;
}


p {
    display: inline;
}

.handleblock{
    margin: 1em;
}   

.block{
    margin-top: 20px;
    /*display: none;*/
}

.recent{
    height: 100%;
}

#display_block{
    display: none;
}

.accepted{
    color: green;
}

.failed{
    color: red;
}

.accepted, .failed, .notattempted{
    font-size: 10px;
}

tr{
    height: 10px;
}

.recommend{
    font-size: 20px;
}

#alert_message{
    display: none;
    color: red;
}

.recommendations{
    margin-top: 20px;
    padding: 10px;
}
