		div{
			display: inline;
			color:yellow;
			
			margin:20px;
		}
		nav{
			display: inline;
			font: inherit;
		}
		header{
			background : blue;
			color: white;
			display: flex;
			padding:5px;
		}
		body{
			background:black;
			color:white;
		}
	button{
			border-radius: 50%;
			background: grey;
			color:white;
			margin:10px;
			padding:15px;
		}
		a{
			color:white;
		}